<!DOCTYPE html>
<html lang="en">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />

    <title>@ViewBag.Title </title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     

    @if (IsSectionDefined("Classification"))
    {
        @RenderSection("Classification", required: false)
    }
    else
    {
        if (ViewBag.Classification != null)
        {
            <meta name="classification" content="@ViewBag.Classification" />
        }
        else
        {
            <meta name="classification" content="" />
        }
    }

    @if (IsSectionDefined("Description"))
    {
        @RenderSection("Description", required: false)
    }
    else
    {
        if (ViewBag.Description != null)
        {
            <meta name="description" content="@ViewBag.Description" />
        }
        else
        {
            <meta name="description" content="" />
        }
    }

    @if (IsSectionDefined("Keywords"))
    {
        @RenderSection("Keywords", required: false)
    }
    else
    {
        if (ViewBag.Keywords != null)
        {
        <meta name="keywords" content="@ViewBag.Keywords" />
        }
        else
        {
        <meta name="keywords" content="" />
        }
    }

    @if (IsSectionDefined("MetaTage"))
    {
        @RenderSection("MetaTage", required: false)
    }
    else
    {
        if (ViewBag.MetaTage != null)
        {
        @Html.Raw(ViewBag.MetaTage);
        }
    }




     <link href="@Url.Content("~/themes/acms/css/bootstrap.css")" rel="stylesheet">
     <link href="@Url.Content("~/themes/animate.css")" rel="stylesheet">
     <link href="@Url.Content("~/themes/acms/css/base.css")" rel="stylesheet">

     <link href="@Url.Content("~/themes/font-awesome.min.css")" rel="stylesheet">
     <!-- ******** Google Fonts ******** -->
     <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
     <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
     <link href="//fonts.googleapis.com/css?family=Economica" rel="stylesheet" type="text/css" />

     <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

     <script src="@Url.Content("~/Scripts/css3-animate-it.js")"></script>

     <!--Include all compiled plugins (below), or include individual files as needed -->
     <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>

     <!-- Favicons -->
     <link rel="shortcut icon" href="@Url.Content("~/themes/acev2/images/favicon.ico")">


     <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel='stylesheet' />



     <link rel="stylesheet" href="@Url.Content("~/Themes/base_forms.css")" type="text/css" media="all" />


     <script src="@Url.Content("~/Scripts/dropzone.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/Chart.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery.tabs.min.js")" type="text/javascript"></script>

     <script src="@Url.Content("~/Scripts/tether.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/ariesglobal.js")" type="text/javascript"></script>


     <script type="text/javascript">
         var sBaseURL = window.location.protocol + "//" + window.location.host + "/";
         if (window.location.protocol !== "https:") {
             //window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
         }
         
     </script>

</head>

<body>


    <div id="editmytoolbar1">
    </div>

    @RenderBody()


    <!-- Modal New Page-->
    <div id="acmAddNewPGDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span class="modal-title">Create A New Page</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-left">
                            <form action="#" method="post">
                                <fieldset>
                                    <legend></legend>
                                    <div class="form-group">
                                        <label for="NewPage_txtPageName">Page Name:</label>
                                        <input type="text" id="NewPage_txtPageName" class="form-control" placeholder="Email Address" />
                                    </div>
                                    <div class="form-group">
                                        <label for="NewPage_txtPageURL"> Page URL</label>
                                        <input type="text" id="NewPage_txtPageURL" class="form-control" placeholder="Page URL" />
                                    </div>

                                    <div class="form-group">
                                        <label for="NewPage_cboTemplates"> Theme :</label>
                                        <select id="NewPage_cboTemplates" class="form-control" onchange="javascript:on_Index_iSiteTemplateID_Changed();"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="NewPage_cboTemplatesPage">Page :</label>
                                        <select id="NewPage_cboTemplatesPage" class="form-control"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="NewPage_cboPageLanguage">Language:</label>
                                        <select id="NewPage_cboPageLanguage" class="form-control"></select>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-left text-md-left text-sm-left text-xs-left">
                        <a href="javascript:CloseAddNewPageDialog();" class="btn btn-outline-danger">CANCEL</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-right text-md-right text-sm-right text-xs-right">
                        <a href="javascript:AddNewPageFrontPage();" class="btn btn-block btn-outline-primary">Create Page</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal User Registration-->
    <div id="acmUserRegistration" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span class="modal-title">User Registration</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="pnlLogInErrorMessage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger" style="display:none;">
                            <p><span id="pnlLogInErrorMessage_Message"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success" style="display:none;">
                            <p> Your have been successfully sing up! <a href="~/portal">Click here</a> to enter your portal.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 offset-lg-1 offset-md-1">
                            <form id="frmMainPageLogin">
                                <fieldset>
                                    <legend></legend>

                                    <div class="form-group">
                                        <label for="UserName">User Name:</label>
                                        <input type="text" id="txt_MainFormRegistration_sUserName" class="form-control" placeholder="Email Address" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Password:</label>
                                        <input type="password" id="txt_MainFormRegistration_sPassword" class="form-control" placeholder="Password" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Confirm Password:</label>
                                        <input type="password" id="txt_MainFormRegistration_sConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="" name="submit" class="btn btn-block btn-outline-primary" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-left text-md-left text-sm-left text-xs-left">
                        <a href="javascript:CloseRegistration();" class="btn btn-outline-danger">CANCEL</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-right text-md-right text-sm-right text-xs-right">
                        <a href="javascript:Perform_MainPageRegistration();" class="btn btn-outline-primary">Register</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal User Log In -->
    <div id="acmUserLogIn" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span class="modal-title">User Access</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-left">
                            <div id="oFrontPageLoggedInUserInfo" style="display:none;">
                                <span style="font-size:1.4em">
                                    Welcome back! <a id="oLogInFormPortalLink1" href="~/portal">Click here</a> to enter your portal.
                                </span>
                            </div>
                            <div id="oFrontPageLongInForm">
                                <form action="#" method="post">
                                    <fieldset>
                                        <legend></legend>

                                        <div style="width:100%;float:left;">
                                            <div class="LabelDiv1Required">
                                                User Name:
                                            </div>
                                            <div class="TextBoxDiv1">
                                                <input type="text" class="TextBox2" placeholder="User Name" name="UserName" id="UserName" />
                                            </div>
                                            <div class="LabelDiv1Error">
                                            </div>
                                        </div>
                                        <div style="width:100%;float:left;">
                                            <div class="LabelDiv1Required">
                                                Password:
                                            </div>
                                            <div class="TextBoxDiv1">
                                                <input type="password" class="TextBox2" placeholder="" name="Password" id="Password" />
                                            </div>
                                            <div class="LabelDiv1Error">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div id="oFrontPageLongInForm_PleaseWaith" style="float:right; padding-top:12px; display:none;">
                                        <span class="orange-btn button medium left">Please Wait...</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-left text-md-left text-sm-left text-xs-left">
                        <a href="javascript:CloseLogIn();" class="btn btn-outline-danger">CANCEL</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-right text-md-right text-sm-right text-xs-right">
                        <a id="oFrontPageLongInForm_Button" href="javascript:FrontPageLogIn();" class="orange-btn button medium left">Log In</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")" type="text/javascript"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="@Url.Content("~/Scripts/jquery.easing.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scrolling-nav.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/css3-animate-it.js")"></script>
    <script src="@Url.Content("~/Scripts/tether.min.js")" type="text/javascript"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/ariesglobal.js")" type="text/javascript"></script>
    <script type="text/javascript">
    try
    {
	    //$('#lblScreenSize').html($(window).width());
	    // get the value of the bottom of the #main element by adding the offset of that element plus its height, set it as a variable
	    var mainbottom = 1200;
	    var oNavBarHeight = 0;
	    var navoffset = 70;
	    var oMinHeight = 1200;
	    var oMinWidth = 1200;


	    $(document).ready(function()
	    {

		    //$('#bgvid').get(0).play();
		    //mainbottom = $('#pnlMain1').offset().top;

		    oNavBarHeight = $('#navbar1').height();
		    oMinHeight = $(window).height();
		    oMinWidth = $(window).width();

		    //If nav bar is not fixed to top  navbar-fixed-top
		    oMinHeight = oMinHeight - oNavBarHeight;
		    $('.rwHeight').each(function() {
			    $(this).css('min-height', oMinHeight);
			    //$(this).css('height', oMinHeight);
		    });

		    //if(oMinWidth > 560)
		    //{
			    oNavBarHeight = oNavBarHeight + navoffset;
		    //}
		    //else
		    //{
		    //	oNavBarHeight = oNavBarHeight;
		    //}
		    $('.toppadding').each(function() {
			    $(this).height(oNavBarHeight + "px");
                });


            $('.pnlPosTop').each(function () {
                $(this).height(oNavBarHeight + "px");
            });


        

	    });

	    // on scroll,
	    $(window).on('scroll',function()
	    {
		    // we round here to reduce a little workload
		    var stop = Math.round($(window).scrollTop());

		    if (stop > mainbottom)
		    {
			    //$('.navbar').addClass('navbar-background3', 600);
			    //$('#pnlBetaText1').addClass('whitetype');
			    //$('#logoimg_Light').hide();
			    //$('#logoimg_Dark').show();

			    ////$('#pnlTopLogo1').removeClass('col-lg-2');;
			    ////$('#pnlTopLogo1').addClass('col-lg-1');
		    }
		    else
		    {
			    //$('.navbar').removeClass('navbar-background3', 600);
			    //$('#pnlBetaText1').removeClass('whitetype');
			    //$('#logoimg_Light').show();
			    //$('#logoimg_Dark').hide();
			    ////$('#pnlTopLogo1').removeClass('col-lg-1');
		    }
	    });


    }
    catch(e)
    {
	    alert(e);
    }
    </script>
</body>
</html>