@model AriesCMS.Helpers.SiteCoreHelper



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toppadding">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="row rwHeight">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-center text-md-center text-smg-center text-xs-center">
            <center><h3 class="" style="font-size:1.3em;">Open Source<strong>.NET C# Content Management Platform</strong> For Programmers, by Programmers</h3> </center>
        </div>
        <div class="row">
            @if (ViewBag.bError == true)
            {
                <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12 alert-danger">
                    <p>@Html.Raw(ViewBag.ErrorMessage)</p>
                </div>
            }
            else if (ViewBag.bCompleted == true)
            {
                <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12 alert-success">
                    <h4>Thank you!  We will attend to your request as quickly as possible.</h4>
                </div>
            }
        </div>
        @if (ViewBag.bCompleted == false)
        {
            <div class="row">
                <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12 col-xs-12">
                    <h3>We love to hear from you.</h3>
                    <h6>Please Complete The Form Below To Send Us A Message.</h6>
                    <script type="text/javascript">

                    </script>

                    @using (Html.BeginForm("SubmitContactUs", "fr", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true);

                        @Html.HiddenFor(model => model.ContactFormData.ErrorPageURL)
                        @Html.HiddenFor(model => model.ContactFormData.SuccessPageURL)
                        @Html.HiddenFor(model => model.ContactFormData.SourceForm)
                        @Html.HiddenFor(model => model.ContactFormData.IsCMSForm)


                        <fieldset>
                            <legend></legend>

                            <div class="form-group">
                                <label for="ContactFormData_Name">Full Name: </label>
                                @Html.TextBoxFor(model => model.ContactFormData.Name, new { @Class = "form-control", @placeholder = "Enter Your Full Name" })
                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.ContactFormData.Name)</span>
                            </div>

                            <div class="form-group">
                                <label for="ContactFormData_Email">E-Mail: </label>
                                @Html.TextBoxFor(model => model.ContactFormData.Email, new { @Class = "form-control", @placeholder = "A Valid Email is Required" })
                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.ContactFormData.Email)</span>
                            </div>

                            <div class="form-group">
                                <label for="ContactFormData_Phone">Phone: </label>
                                @Html.TextBoxFor(model => model.ContactFormData.Phone, new { @Class = "form-control", @placeholder = "Your Phone Number would be helpful" })
                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.ContactFormData.Phone)</span>
                            </div>

                            <div class="form-group">
                                <label for="ContactFormData_Subject">Subject: </label>
                                @Html.TextBoxFor(model => model.ContactFormData.Subject, new { @Class = "form-control", @placeholder = "Subject of your inquiry" })
                            </div>

                            <div class="form-group">
                                <label for="ContactFormData_Message">Message: </label>
                                @Html.TextAreaFor(model => model.ContactFormData.Message, new { @Class = "form-control textareal", @placeholder = "You’re Message" })
                            </div>

                        </fieldset>
                        <div class="form-group">
                            <input type="submit" name="submit" value="SEND MESSAGE" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
