@model IEnumerable<AriesCMSDefinition.DEF_UsersAltAuth.RecordObject> 

   

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            <h2>List of Alternate Authentication Credentials</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        @if (ViewBag.sErrorMessage != null)
        {
            if (!String.IsNullOrWhiteSpace(ViewBag.sErrorMessage))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                    <p>@Html.Raw(ViewBag.sErrorMessage)</p>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm("UsersAltAuth_List", "", FormMethod.Post))
            {
                <div class="col-lg-5 col-md-5 col-xs-5">
                    @Html.TextBox("Search", "", new { @Class = "form-control", placeholder = "Search" })
                    <input type="hidden" name="_iParentID" id="_iParentID" value="@Html.Encode(ViewBag.iParentID)" />
                    <input type="hidden" name="_sParentID" id="_sParentID" value="@Html.Encode(ViewBag.sParentID)" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <input type="submit" class="btn btn-info" value="Search" />
                </div>
            }
            <div class="col-lg-3 col-md-3 col-xs-3">
                + @Html.ActionLink("Create New", "UsersAltAuth_create", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })
            </div>
        </div>
        @if (ViewBag.bSearched == true)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>@Html.ActionLink("Clear Search", "UsersAltAuth_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })</p>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr class="blue_background text-lg-center text-md-center text-xs-center whitetype">
                        <th>Value 1</th>
                        <th>Value 2</th>
                        <th>Value 3</th>
                        <th>Value 4</th>
                        <th>Value 5</th>
                        <th>Value 6</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.iTotalRecordCount > 0)
                    {
                        foreach (var objRec in Model)
                        {
                            <tr>
                                <th scope="row">@Html.DisplayFor(modelItem => objRec.sAuthValue1)</th>
                                <td>@Html.DisplayFor(modelItem => objRec.sAuthValue2)</td>
                                <td>@Html.DisplayFor(modelItem => objRec.sAuthValue3)</td>
                                <td>@Html.DisplayFor(modelItem => objRec.sAuthValue4)</td>
                                <td>@Html.DisplayFor(modelItem => objRec.sAuthValue5)</td>
                                <td>@Html.DisplayFor(modelItem => objRec.sAuthValue6)</td>

                                <td>
                                    @Html.ActionLink("Edit", "UsersAltAuth_Details", new { id = objRec.ID })
                                    @Html.Raw("|")
                                    @Html.ActionLink("Delete", "UsersAltAuth_Delete", new { id = objRec.ID }, new { onclick = "return confirm('Are you sure you wish to delete this record?');" })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th scope="row" colspan="7">
                                No Records
                            </th>
                        </tr>
                    }

                    @if (ViewBag.iNumberOfPages > 0)
                    {
                        <tr>
                            <th scope="row" colspan="7" class="blue_background text-lg-center text-md-center text-xs-center">
                                @Html.ActionLink("First", "UsersAltAuth_List", new { page = 0, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = " a_white" })
                                @if (ViewBag.iCurrentPage >= 1)
                                {
                                    @Html.ActionLink("< Previous", "UsersAltAuth_List", new { page = ViewBag.iCurrentPage - 1, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = " a_white" })
                                }
                                else
                                {
                                    @Html.ActionLink("< Previous", "UsersAltAuth_List", new { page = 0, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = " a_white" })
                                }
                                <span>@Html.Raw(ViewBag.iCurrentPage) of @Html.Raw(ViewBag.iNumberOfPages)</span>
                                @Html.ActionLink("Next >", "UsersAltAuth_List", new { page = ViewBag.iCurrentPage + 1, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = " a_white" })
                                @Html.ActionLink("Last", "UsersAltAuth_List", new { page = ViewBag.iNumberOfPages, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = " a_white" })
                            </th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>