@model IEnumerable<AriesCMSDefinition.DEF_WebSiteQuestionair.RecordObject> 



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            <h2>Questionair</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        @if (ViewBag.sErrorMessage != null)
        {
            if (!String.IsNullOrWhiteSpace(ViewBag.sErrorMessage))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                    <p>@Html.Raw(ViewBag.sErrorMessage)</p>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
           @using (Html.BeginForm("WebSiteQuestionair_List", "", FormMethod.Post))
           {
            <div class="col-lg-5 col-md-5 col-xs-5">
                @Html.TextBox("Search", "", new { @class = "form-control", placeholder="Search"})

            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <input type="submit" class="btn btn-info" value="Search" />
            </div>     

             }
            <div class="col-lg-3 col-md-3 col-xs-3">
             <p> + @Html.ActionLink("Create New", "WebSiteQuestionair_create")</p>

            </div>
        </div>
         @if (ViewBag.bSearched == true)
         {
        <div class="col-lg-12 col-md-12 col-xs-12 alert-success">

              <p>@Html.ActionLink("Clear Search", "WebSiteQuestionair_List")</p>

        </div>
                      
          }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr class="blue_background text-lg-center text-md-center text-xs-center whitetype">
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.iTotalRecordCount > 0)
                    {
                        foreach (var objRec in Model)
                        {
                            <tr>
                                <th scope="row">@Html.DisplayFor(modelItem => objRec.sName)</th>
                                <td>@Html.DisplayFor(modelItem => objRec.dtDateCreated)</td>

                            <td>
                                @Html.ActionLink("Edit", "WebSiteQuestionair_Details", new { id=objRec.ID}) 
                                @Html.Raw("|")
                                @Html.ActionLink("Delete", "WebSiteQuestionair_Delete", new { id=objRec.ID}, new { onclick = "return confirm('Are you sure you wish to delete this record?');" }) 
                            </td>                                              
                            </tr>
                            <tr>

                                <td colspan="3">
                                    @Html.ActionLink("Questions", "WebSiteQuest_Questions_List", new { _iParentID = objRec.ID, _sParentID = objRec.sName })

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                            <tr>
                            
                          <td colspan="3">
                            
                                No Records
                            </td>                                              
                            </tr>
                    }
                
                


                    @if(ViewBag.iNumberOfPages > 0)
                    {     
                    <tr>
                            
                    <td scope="row" colspan="3" class="blue_background text-lg-center text-md-center text-xs-center">

                          
                      
                        
                        
              @Html.ActionLink("First", "WebSiteQuestionair_List", new { page = 1 }, new { @Class = "fnav-next" }) 
              @if(ViewBag.iCurrentPage >= 1)
              {
                  @Html.ActionLink("< Previous", "WebSiteQuestionair_List", new { page = ViewBag.iCurrentPage - 1 }, new { @Class = "fnav-next" })  
              }
              else
              {
                 @Html.ActionLink("< Previous", "WebSiteQuestionair_List", new { page = 1 }, new { @Class = "fnav-next" })
              } 
              <span>@Html.Raw(ViewBag.iCurrentPage) of @Html.Raw(ViewBag.iNumberOfPages)</span>
              @Html.ActionLink("Next >", "WebSiteQuestionair_List", new { page = ViewBag.iCurrentPage + 1 }, new { @Class = "fnav-next" }) 
              @Html.ActionLink("Last", "WebSiteQuestionair_List", new { page = ViewBag.iNumberOfPages }, new { @Class = "fnav-next" })   

                        
                        
 
                            
                        </td>                                     
                    </tr>
                    }  
                </tbody>
            </table>
        </div>
    </div>
</div>   


























