@model IEnumerable<AriesCMSDefinition.DEF_WebSiteEMailCampaign.RecordObject> 




    <script type="text/javascript">
        function On_Start_SendFor_Campaign(_Id) {
            try {

                var sBaseURL = window.location.protocol + "//" + window.location.host + "/";

                var _URL = sBaseURL + "admin/home/WebSiteEMailCampaign_ProcessSend";
                var oMydata = { Id: _Id };

                $.when(
                    $.ajax({
                        url: _URL,
                        data: oMydata,
                        cache: true,
                        type: "POST",
                        dataType: "json"
                    })
                )
                    .then(
                    function (data) {
                        if (data.RESPONSE === 'true') {

                            alert("Message Sent!");

                        }
                        else {

                            alert(data.MESSAGE);
                        }
                    }
                    );
            }
            catch (e) {
                alert("On_Start_SendFor_Campaign Error: " + e);
            }
        }

        var _iSelectedID = 0;
    function On_Show_SendTestEmail(_Id)
    {
        try {
            _iSelectedID = _Id;
            $('#pnlSendTestEmail').show(200);
        }
        catch (e) {

        }
    }
    function On_Hide_SendTestEmail()
    {
        try {
            _iSelectedID = 0;
            $('#txt_Test_FName').val('');
            $('#txt_Test_LName').val('');
            $('#txt_Test_EMail').val('');
            $('#txt_Test_CellPhone').val('');
            $('#pnlSendTestEmail').hide(200);

        }
        catch (e) {

        }
    }

    function On_SendTestEmail_Click()
    {
        try
        {

            var sBaseURL = window.location.protocol + "//" + window.location.host + "/";

            var sFName = $('#txt_Test_FName').val();
            var sLName = $('#txt_Test_LName').val();
            var sEMail = $('#txt_Test_EMail').val();
            var sCellPhone = $('#txt_Test_CellPhone').val();


            var _URL = sBaseURL + "admin/home/WebSiteEMailCampaign_TestSend";
            var oMydata = { Id: _iSelectedID, _ToEmail: sEMail, _ToCellPhone: sCellPhone, _ToFName: sFName, _ToLName: sLName };

            $.when(
                $.ajax({
                    url: _URL,
                    data: oMydata,
                    cache: true,
                    type: "POST",
                    dataType: "json"
                })
            )
                .then(
                function (data) {
                    if (data.RESPONSE === 'true') {

                        alert("Message Sent!");
                        $('#pnlSendTestEmail').hide(200);

                    }
                    else {

                        alert(data.MESSAGE);
                    }
                }
                );
        }
        catch (e) {

        }
    }
    </script>

                      <div class="row borderGroved_solid_2x" id="pnlSendTestEmail" style="display:none;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-center text-md-center text-sm-center text-xs-center">
                              <h4 class="text-bold">Send Out Test Email</h4>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-left">


                              <div class="form-group">
                                  <label for="txt_Test_FName">First name :</label>
                                  <input type="text" id="txt_Test_FName" name="txt_Test_FName" class="form-control" />
                              </div>

                              <div class="form-group">
                                  <label for="txt_Test_LName">Last name :</label>
                                  <input type="text" id="txt_Test_LName" name="txt_Test_LName" class="form-control" />
                              </div>

                              <div class="form-group">
                                  <label for="txt_Test_EMail">Email :</label>
                                  <input type="text" id="txt_Test_EMail" name="txt_Test_EMail" class="form-control" />
                              </div>

                              <div class="form-group">
                                  <label for="txt_Test_CellPhone">Cell Phone :</label>
                                  <input type="text" id="txt_Test_CellPhone" name="txt_Test_CellPhone" class="form-control" />
                              </div>

                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-center text-md-center text-sm-center text-xs-center">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-center text-md-center text-sm-center text-xs-center">
                                  <a href="javascript:On_Hide_SendTestEmail();" class="btn btn-blue">Cancel</a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-center text-md-center text-sm-center text-xs-center">
                                  <a href="javascript:On_SendTestEmail_Click();" class="btn btn-red">Send</a>
                              </div>
                          </div>
                      </div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            <h2>E-Mail Campaign(s)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        @if (ViewBag.sErrorMessage != null)
        {
            if (!String.IsNullOrWhiteSpace(ViewBag.sErrorMessage))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                    <p>@Html.Raw(ViewBag.sErrorMessage)</p>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
           @using (Html.BeginForm("WebSiteEMailCampaign_List", "", FormMethod.Post))
           {
            <div class="col-lg-5 col-md-5 col-xs-5">
                @Html.TextBox("Search", "", new { @class = "form-control", placeholder="Search"})

            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <input type="submit" class="btn btn-info" value="Search" />
            </div>     

             }
            <div class="col-lg-3 col-md-3 col-xs-3">
             <p> + @Html.ActionLink("Create New", "WebSiteEMailCampaign_create")</p>

            </div>
        </div>
         @if (ViewBag.bSearched == true)
         {
        <div class="col-lg-12 col-md-12 col-xs-12 alert-success">

              <p>@Html.ActionLink("Clear Search", "WebSiteEMailCampaign_List")</p>

        </div>
                      
          }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr class="blue_background text-lg-center text-md-center text-xs-center whitetype">
                        <th>Name</th>
                        <th>Created on</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.iTotalRecordCount > 0)
                    {
                        foreach (var objRec in Model)
                        {
                            <tr>
                                <th scope="row">@Html.DisplayFor(modelItem => objRec.sName)</th>
                                <td>@Html.DisplayFor(modelItem => objRec.dtDateCreated)</td>
                            <td>
                                @Html.ActionLink("Edit", "WebSiteEMailCampaign_Details", new { id=objRec.ID}) 
                                @Html.Raw("|")
                                @Html.ActionLink("Delete", "WebSiteEMailCampaign_Delete", new { id=objRec.ID}, new { onclick = "return confirm('Are you sure you wish to delete this record?');" }) 
                                @Html.Raw("|")
                                <a href="javascript:On_Start_SendFor_Campaign(@Html.Raw(objRec.ID))">START SEND MESSAGES NOW</a>
                                @Html.Raw("|")
                                <a href="javascript:On_Show_SendTestEmail(@Html.Raw(objRec.ID));">Send Test Message</a>
                            </td>                                              
                            </tr>
                            <tr>
                                <th scope="row" colspan="3">
                                  
                                    @Html.ActionLink("Distribution Lists", "WebSiteEMailCampaignLists_List", new { _iParentID = objRec.ID, _sParentID = objRec.sName })
                                </th>
                            </tr>
                        }
                    }
                    else
                    {
                            <tr>                            
                              <td colspan="3">                            
                                    No Records
                                </td>                                              
                            </tr>
                    }
                
                


                    @if(ViewBag.iNumberOfPages > 0)
                    {     
                    <tr>
                            
                    <td scope="row" colspan="3" class="backgrounddark text-lg-center text-md-center text-xs-center">

                          
                      
                        
                        
                              @Html.ActionLink("First", "WebSiteEMailCampaign_List", new { page = 1 }, new { @Class = "fnav-next" }) 
                              @if(ViewBag.iCurrentPage >= 1)
                              {
                                  @Html.ActionLink("< Previous", "WebSiteEMailCampaign_List", new { page = ViewBag.iCurrentPage - 1 }, new { @Class = "fnav-next" })  
                              }
                              else
                              {
                                 @Html.ActionLink("< Previous", "WebSiteEMailCampaign_List", new { page = 1 }, new { @Class = "fnav-next" })
                              } 
                              <span>@Html.Raw(ViewBag.iCurrentPage) of @Html.Raw(ViewBag.iNumberOfPages)</span>
                              @Html.ActionLink("Next >", "WebSiteEMailCampaign_List", new { page = ViewBag.iCurrentPage + 1 }, new { @Class = "fnav-next" }) 
                              @Html.ActionLink("Last", "WebSiteEMailCampaign_List", new { page = ViewBag.iNumberOfPages }, new { @Class = "fnav-next" })   

                        
                        
 
                            
                        </td>                                     
                    </tr>
                    }  
                </tbody>
            </table>
        </div>
    </div>
</div>   


























