@model ACMSDBView.WebSiteForumTopicsViewModel


<script type="text/javascript">



    function on_WebSiteForumTopics_iQuestID_Changed() {
        try {
            var cboControl = document.getElementById("WebSiteForumTopics_iQuestID");
            var selectedText = cboControl[cboControl.selectedIndex].text;

            var oHiddenField = document.getElementById("WebSiteForumTopics_sQuestID");
            oHiddenField.value = selectedText;


        }
        catch (e) {
            alert(e);
        }
    }
</script>   
                    






<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            @if (ViewBag.bAddNew)
            {
                 <h2>You are ready to create a new Topic</h2>
            }
            else
            {
                 <h2>You are editing - @Model.WebSiteForumTopics.sName    </h2>
            }   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
       @if (ViewBag.bError == true)
       {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                <p> @Html.Raw(ViewBag.sErrorMessage)</p>
            </div>
       }
       else if (ViewBag.bSaved == true)
       {               
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success">
                <p>Your request was processed successfully.</p>
            </div>
       }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <<  @Html.ActionLink("Return List View", "WebSiteForumTopics_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })
 
       
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 offset-lg-1 offset-md-1">
@using (Html.BeginForm("WebSiteForumTopics_AddUpdate", "", FormMethod.Post))
                                   {                             
                                        @Html.ValidationSummary(true);
                         @Html.HiddenFor(model => model.WebSiteForumTopics.ID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.sControl)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.sSync)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.iParentID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.sParentID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.dtDateCreated)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.dtLastUpdated)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.iCreatedByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.sCreatedByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.iUpdatedByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.sUpdatedByID) 

                         @Html.HiddenFor(model => model.WebSiteForumTopics.sVersion)  

                         @Html.HiddenFor(model => model.WebSiteForumTopics.sAdvertisements)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.iAdScheduleID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopics.sAdScheduleID)


    @Html.HiddenFor(model => model.WebSiteForumTopics.sQuestID)
    @Html.HiddenFor(model => model.WebSiteForumTopics.sQuestAnswerArray)

                                        <fieldset> 
                                            <legend></legend>
                                             

                                            <div class="form-group">
                                                <label for="WebSiteForumTopics_sName">Title :</label>
                                                @Html.TextBoxFor(model => model.WebSiteForumTopics.sName, new { @Class = "form-control", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopics.sName)</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="WebSiteForumTopics_dPostCounts">Post count :</label>
                                                @Html.TextBoxFor(model => model.WebSiteForumTopics.dPostCounts, new { @Class = "form-control", @readonly = "readonly" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopics.dPostCounts)</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="WebSiteForumTopics_sDescription">Description :</label>
                                                @Html.TextAreaFor(model => model.WebSiteForumTopics.sDescription, new { @Class = "form-control textarea_admin", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopics.sDescription)</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="WebSiteForumTopics_sContent">Content :</label>
                                                @Html.TextAreaFor(model => model.WebSiteForumTopics.sContent, new { @Class = "form-control textarea_admin", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopics.sContent)</span>
                                            </div>



                                            <div class="form-group">
                                                <label for="WebSiteForumTopics_iQuestID">Linked Questionair :</label>
                                                @Html.DropDownListFor(model => model.WebSiteForumTopics.iQuestID, Model.WebSiteQuestionair, new { @Class = "form-control", @onchange = "javascript:on_WebSiteForumTopics_iQuestID_Changed();" })
                                                @if (ViewBag.bError == true)
                                                {
                                                    @Html.ValidationMessageFor(model => model.WebSiteForumTopics.iQuestID, "*Required!")
                                                }
                                            </div>




                                        </fieldset>
                                        <div class="form-group">
                                           @if (ViewBag.bAddNew == true)
                                           {
                                                <input type="submit" value="Save" name="submit" class="btn btn-block btn-outline-primary" />
                                           }
                                           else
                                           {
                                                <input type="submit" value="Save" name="submit" class="btn btn-block btn-outline-primary" />
                                           }
                                        </div>
                                   } 
         </div>
    </div>
</div>





























