@model AriesCMSDefinition.DEF_WebSiteForumTopics.RecordObject


<script type="text/javascript">
    

    function on_Select_Changed() {
        try {
        var cboControl = document.getElementById("WebSiteForumTopics_FIELDID");
            var selectedText = cboControl[cboControl.selectedIndex].text;

            var oHiddenField = document.getElementById("WebSiteForumTopics_FIELDHIDDEN");
            oHiddenField.value = selectedText;

            Buildcbo_SelectBasedOnParentID(cboControl[cboControl.selectedIndex].value);
        }
        catch (e) {
            alert(e);
        }
    }


    function Buildcbo_SelectBasedOnParentID(_Id) {
        try {

            //alert(_Id);
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#WebSiteForumTopics_FIELDID").html(procemessage).show();
            var url = "@Url.Content("/portal/home/GetCBO_JSONFUNTION/")";
            
            $.ajax({
                url: url,
                data: { _iParentID: _Id },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'> </option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#WebSiteForumTopics_FIELDID").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
        catch (e) {
            alert(e);
            $("#WebSiteForumTopics_FIELDID").html("error").show();
        }
    }

</script>   
                    






<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            @if (ViewBag.bAddNew)
            {
                 <h2>You are ready to create a new Topic</h2>
            }
            else
            {
                 <h2>You are editing - @Model.sName    </h2>
            }   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
       @if (ViewBag.bError == true)
       {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                <p> @Html.Raw(ViewBag.sErrorMessage)</p>
            </div>
       }
       else if (ViewBag.bSaved == true)
       {               
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success">
                <p>Your request was processed successfully.</p>
            </div>
       }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <<  @Html.ActionLink("Return List View", "WebSiteForumTopics_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })
 
       
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 offset-lg-1 offset-md-1">
@using (Html.BeginForm("WebSiteForumTopics_AddUpdate", "", FormMethod.Post))
                                   {                             
                                        @Html.ValidationSummary(true);
                         @Html.HiddenFor(model => model.ID)  
                         @Html.HiddenFor(model => model.sControl)  
                         @Html.HiddenFor(model => model.sSync)  
                         @Html.HiddenFor(model => model.iParentID)  
                         @Html.HiddenFor(model => model.sParentID)  
                         @Html.HiddenFor(model => model.dtDateCreated)  
                         @Html.HiddenFor(model => model.dtLastUpdated)  
                         @Html.HiddenFor(model => model.iCreatedByID)  
                         @Html.HiddenFor(model => model.sCreatedByID)  
                         @Html.HiddenFor(model => model.iUpdatedByID)  
                         @Html.HiddenFor(model => model.sUpdatedByID) 

                         @Html.HiddenFor(model => model.sVersion)  

                         @Html.HiddenFor(model => model.sAdvertisements)  
                         @Html.HiddenFor(model => model.iAdScheduleID)  
                         @Html.HiddenFor(model => model.sAdScheduleID)  
      
      
                                        <fieldset> 
                                            <legend></legend>


                                            <div class="form-group">
                                                <label for="sName">Title :</label>
                                                @Html.TextBoxFor(model => model.sName, new { @Class = "form-control", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.sName)</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="dPostCounts">Post count :</label>
                                                @Html.TextBoxFor(model => model.dPostCounts, new { @Class = "form-control", @readonly = "readonly" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.dPostCounts)</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="sDescription">Description :</label>
                                                @Html.TextAreaFor(model => model.sDescription, new { @Class = "form-control textarea_admin", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.sDescription)</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="sContent">Content :</label>
                                                @Html.TextAreaFor(model => model.sContent, new { @Class = "form-control textarea_admin", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.sContent)</span>
                                            </div>






                                        </fieldset>
                                        <div class="form-group">
                                           @if (ViewBag.bAddNew == true)
                                           {
                                                <input type="submit" value="Save" name="submit" class="btn btn-block btn-outline-primary" />
                                           }
                                           else
                                           {
                                                <input type="submit" value="Save" name="submit" class="btn btn-block btn-outline-primary" />
                                           }
                                        </div>
                                   } 
         </div>
    </div>
</div>





























