@model AriesCMSDefinition.DEF_WebSiteBlogEntry.RecordObject




<script>

    function ViewFileManager() {
        try {
            var myWindow = window.open(window.location.protocol + "//" + window.location.host + "/" + "admin/home/FilesManager_ListPop", "_blank", "toolbar=no, scrollbars=yes, resizable=yes, width=560, height=700, location=no,status=no,titlebar=no");
        }
        catch (e) {

        }
    }

    function SwitchToEditor()
    {


    tinymce.init({
        selector: 'textarea',
        force_br_newlines: false,
        force_p_newlines: false,
        forced_root_block: '',
        valid_elements: '*[*]',
        width: 650,
        height: 400,
        cleanup_on_startup: false,
        trim_span_elements: false,
        verify_html: false,
        cleanup: false,
        convert_urls: false,
        keep_styles: true,
        browser_spellcheck: true,
        plugins: ["advlist autolink lists link image charmap print preview anchor legacyoutput",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste moxiemanager"],
        menubar: "edit insert format table tools",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | showfilemanager",
        setup: function (ed) {
            // Add a custom button

            ed.addButton('showfilemanager', {
                type: 'button',
                title: 'Files',
                text: 'Show Files',
                onclick: function () {
                    // Add you own code to execute something on click
                    ViewFileManager();
                }
            });
        }

    });
    }

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            @if (ViewBag.bAddNew)
            {
                <h2>You are ready to create a new Blog Entry</h2>
            }
            else
            {
                <h2>You are editing - @Model.sSubject</h2>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        @if (ViewBag.bError == true)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                <p>@Html.Raw(ViewBag.sErrorMessage)</p>
            </div>
        }
        else if (ViewBag.bSaved == true)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success">
                <p>Your request was processed successfully.</p>
            </div>
        }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>@Html.ActionLink("Click here", "WebSiteBlogEntry_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }) to return to the list.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 offset-lg-1 offset-md-1 ">

            @using (Html.BeginForm("WebSiteBlogEntry_AddUpdate", "", FormMethod.Post))
            {
                @Html.ValidationSummary(true);

                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.iParentID)
                @Html.HiddenFor(model => model.sParentID)
                @Html.HiddenFor(model => model.sControl)
                @Html.HiddenFor(model => model.dtDateCreated)
                @Html.HiddenFor(model => model.dtLastUpdated)
                @Html.HiddenFor(model => model.iCreatedByID)
                @Html.HiddenFor(model => model.sCreatedByID)
                @Html.HiddenFor(model => model.iUpdatedByID)
                @Html.HiddenFor(model => model.sUpdatedByID)
                @Html.HiddenFor(model => model.dtStart)
                @Html.HiddenFor(model => model.dtEnd)

                <fieldset>
                    <legend></legend>


                    <div class="form-group">
                        <label for="sTitle">Title :</label>
                        @Html.TextBoxFor(model => model.sTitle, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.sTitle, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="sSubject">Subject :</label>
                        @Html.TextBoxFor(model => model.sSubject, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.sSubject, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="sImageURL">Image URL :</label>
                        @Html.TextBoxFor(model => model.sImageURL, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.sImageURL, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <div class="fileUpload btn btn-primary" id="pnlFileSelect">
                            <span><img src="~/Themes/acms2/images/UploadButton_white.png" alt="Upload File" width="35" height="35" /></span>
                            <input type="file" name="fileupload" id="fileupload" class="upload" />
                            Upload Cover File
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sKeyWords">Key words :</label>
                        @Html.TextBoxFor(model => model.sKeyWords, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.sKeyWords, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="sContent"> Content :</label><a href="javascript:SwitchToEditor();"><img src="~/Themes/SymbolEdit.png" border="0" /> Switch to WYSIWYG</a>
                        @Html.TextAreaFor(model => model.sContent, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.sContent, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="bOpenToComments">Open to comments :</label>
                        @Html.CheckBoxFor(model => model.bOpenToComments, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.bOpenToComments, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="bMustBeLoggedInToComment">Log in required to comment :</label>
                        @Html.CheckBoxFor(model => model.bMustBeLoggedInToComment, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.bMustBeLoggedInToComment, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="bIsLive">Is live :</label>
                        @Html.CheckBoxFor(model => model.bIsLive, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.bIsLive, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="bArchived">Archive :</label>
                        @Html.CheckBoxFor(model => model.bArchived, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.bArchived, "*Required!")
                        }
                    </div>

                </fieldset>
                <div class="form-group">
                    @if (ViewBag.bAddNew == true)
                    {
                        <input type="submit" value="Update" name="submit" class="btn btn-block btn-outline-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" name="submit" class="btn btn-block btn-outline-primary" />
                    }
                </div>
            }
        </div>
    </div>
</div>


