@model ACMSDBView.WebSitePageTemplatesPageViewModel



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            @if (ViewBag.bAddNew)
            {
                <h2>You are ready to create a new Page</h2>
            }
            else
            {
                <h2>You are editing - @Model.WebSitePageTemplatesPage.sName</h2>
            }
        </div>  
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        @if (ViewBag.bError == true)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                <p>@Html.Raw(ViewBag.sErrorMessage)</p>
            </div>
        }
        else if (ViewBag.bSaved == true)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success">
                <p>Your request was processed successfully.</p>
            </div>
        }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>@Html.ActionLink("Click here", "WebSitePageTemplatesPage_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }) to return to the list.</p>
        </div>
        @if ((ViewBag.bAddNew == false) && (Model.WebSitePageTemplatesPage.ID > 0))
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>or See Related @Html.ActionLink("Content Zones", "WebSitePageTemplateZones_List", new { _iParentID = Model.WebSitePageTemplatesPage.ID, _sParentID = Model.WebSitePageTemplatesPage.sName });</p>
            </div>
        }
        @if (ViewBag.iParentID != null)
        {
           if (ViewBag.iParentID > 0)
           {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p> or Click To @Html.ActionLink("Create New", "WebSitePageTemplatesPage_create", new { _iParentID = Model.WebSitePageTemplatesPage.ID, _sParentID = Model.WebSitePageTemplatesPage.sName }) Template Page </p>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 offset-lg-1 offset-md-1 ">

            @using (Html.BeginForm("WebSitePageTemplatesPage_AddUpdate", "", FormMethod.Post))
            {
                @Html.ValidationSummary(true);

                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.ID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.iParentID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sParentID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sControl)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.dtDateCreated)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.dtLastUpdated)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.iCreatedByID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sCreatedByID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.iUpdatedByID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sUpdatedByID)

                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sDescription)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sThumbNailImageURL)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sVersion)

                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.iLanguageID)
                @Html.HiddenFor(model => model.WebSitePageTemplatesPage.sLanguageID)

                <fieldset>
                    <legend></legend>

                    <div class="form-group">
                        <label for="WebSitePageTemplatesPage_sName"> Name :</label>
                        @Html.TextBoxFor(model => model.WebSitePageTemplatesPage.sName, new { @Class = "form-control" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.WebSitePageTemplatesPage.sName, "*Required!")
                        }
                    </div>

                    <div class="form-group">
                        <label for="WebSitePageTemplatesPage_sTemplateBody">Body :</label>
                        @Html.TextAreaFor(model => model.WebSitePageTemplatesPage.sTemplateBody, new { @Class = "form-control textarea_admin" })
                        @if (ViewBag.bError == true)
                        {
                            @Html.ValidationMessageFor(model => model.WebSitePageTemplatesPage.sTemplateBody, "*Required!")
                        }
                    </div>

                </fieldset>
                <div class="form-group">
                    @if (ViewBag.bAddNew == true)
                    {
                        <input type="submit" value="Update" name="submit" class="btn btn-block btn-outline-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Update" name="submit" class="btn btn-block btn-outline-primary" />
                    }
                </div>
            }
        </div>
    </div>
</div>
