@model IEnumerable<AriesCMSDefinition.DEF_WebSitePage.RecordObject> 

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            <h2>Pages</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        @if (ViewBag.sErrorMessage != null)
        {
            if (!String.IsNullOrWhiteSpace(ViewBag.sErrorMessage))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
                    <p>@Html.Raw(ViewBag.sErrorMessage)</p>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm("WebSitePage_List", "", FormMethod.Post))
            {
                <div class="col-lg-5 col-md-5 col-xs-5">
                    @Html.TextBox("Search", "", new { @class = "form-control", placeholder = "Search" })
                    <input type="hidden" name="_iParentID" id="_iParentID" value="@Html.Encode(ViewBag.iParentID)" />
                    <input type="hidden" name="_sParentID" id="_sParentID" value="@Html.Encode(ViewBag.sParentID)" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <input type="submit" class="btn btn-info" value="Search" />
                </div>
            }
            <div class="col-lg-3 col-md-3 col-xs-3">
                + @Html.ActionLink("Create New", "WebSitePage_create", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })
            </div>
        </div>
        @if (ViewBag.bSearched == true)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success">
                <p> @Html.ActionLink("Clear Search", "WebSitePage_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })</p>
            </div>

        }
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr class="blue_background text-lg-center text-md-center text-xs-center whitetype">
                        <th>Page name</th>
                        <th>Title</th>
                        <th>Restricted access</th>
                        <th>Theme</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.iTotalRecordCount > 0)
                    {
                        foreach (var objRec in Model)
                        {
                            <tr>
                                <th scope="row">@Html.DisplayFor(modelItem => objRec.sPageName)</th>
                                <td>@Html.DisplayFor(modelItem => objRec.sPageTitle)</td>
                                <td>@Html.DisplayFor(modelItem => objRec.bRestrictAccess)</td>
                                <td>@Html.DisplayFor(modelItem => objRec.sSiteTemplateID)</td>
                                <td>
                                    @Html.ActionLink("Edit", "WebSitePage_Details", new { id = objRec.ID })
                                    @Html.Raw("|")
                                    @Html.ActionLink("Delete", "WebSitePage_Delete", new { id = objRec.ID }, new { onclick = "return confirm('Are you sure you wish to delete this record?');" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    @Html.ActionLink("Manage Page Content", "WebSitePageZone_List", new { _iParentID = objRec.ID, _sParentID = objRec.sPageName })
                                    |  @Html.ActionLink("Page Announcements", "WebSitePageiAnnouncements_List", new { _iParentID = objRec.ID, _sParentID = objRec.sPageName })
                                    |  @Html.ActionLink("Page Comments", "WebSitePageComments_List", new { _iParentID = objRec.ID, _sParentID = objRec.sPageName })
                                    |  @Html.ActionLink("Restrict Access", "WebSitePageRoles_List", new { _iParentID = objRec.ID, _sParentID = objRec.sPageName })
                                </td>
                            </tr>
                            @*<tr>
                    <td colspan="7">
                        @Html.ActionLink("Change Page Structure", "WebSitePageZoneContent_List", new { _iParentID=objRec.ID, _sParentID=objRec.sPageName})
                    </td>
                </tr>*@
                        }
                    }
                    else
                    {
                        <tr>
                            <th scope="row" colspan="7">
                                No Records
                            </th>
                        </tr>
                    }
                    

                    @if (ViewBag.iNumberOfPages > 0)
                    {
                        <tr>
                            <th scope="row" colspan="7" class="blue_background text-lg-center text-md-center text-xs-center">
                               @Html.ActionLink("First", "WebSitePage_List", new { page = 0, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = "fnav-next" })
                            @if (ViewBag.iCurrentPage >= 1)
                            {
                                @Html.ActionLink("< Previous", "WebSitePage_List", new { page = ViewBag.iCurrentPage - 1, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = "fnav-next" })
                            }
                            else
                            {
                                @Html.ActionLink("< Previous", "WebSitePage_List", new { page = 0, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = "fnav-next" })
                            }
                            <span>@Html.Raw(ViewBag.iCurrentPage) of @Html.Raw(ViewBag.iNumberOfPages)</span>
                            @Html.ActionLink("Next >", "WebSitePage_List", new { page = ViewBag.iCurrentPage + 1, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = "fnav-next" })
                            @Html.ActionLink("Last", "WebSitePage_List", new { page = ViewBag.iNumberOfPages, _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID }, new { @Class = "fnav-next" })
                            </th>
                        </tr>
                    }    

                </tbody>
            </table>
        </div>
    </div>
</div>  