@model ACMSDBView.WebSiteForumTopiAnnouncementsViewModel


<script type="text/javascript">



    function on_WebSiteForumTopiAnnouncements_iQuestID_Changed() {
        try {
            var cboControl = document.getElementById("WebSiteForumTopiAnnouncements_iQuestID");
            var selectedText = cboControl[cboControl.selectedIndex].text;

            var oHiddenField = document.getElementById("WebSiteForumTopiAnnouncements_sQuestID");
            oHiddenField.value = selectedText;


        }
        catch (e) {
            alert(e);
        }
    }

</script>   
                    






<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border_bottom_solid_1x">
            @if (ViewBag.bAddNew)
            {
                 <h2>You are ready to create a new Announcements</h2>
            }
            else
            {
                 <h2>You are editing - 
                   @Model.WebSiteForumTopiAnnouncements.sName
                 </h2>
            }   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
       @if (ViewBag.bError == true)
       {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-danger">
                <p> @Html.Raw(ViewBag.sErrorMessage)</p>
            </div>
       }
       else if (ViewBag.bSaved == true)
       {               
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert-success">
                <p>Your request was processed successfully.</p>
            </div>
       }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <<  @Html.ActionLink("Return List View", "WebSiteForumTopiAnnouncements_List", new { _iParentID = ViewBag.iParentID, _sParentID = ViewBag.sParentID })
 
       
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 offset-lg-1 offset-md-1">
@using (Html.BeginForm("WebSiteForumTopiAnnouncements_AddUpdate", "", FormMethod.Post))
                                   {                             
                                        @Html.ValidationSummary(true);
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.ID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sControl)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sSync)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.iParentID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sParentID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.dtDateCreated)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.dtLastUpdated)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.iCreatedByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sCreatedByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.iUpdatedByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sUpdatedByID) 

                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sVersion)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.bRemoved)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.bAnswered)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.iAnsweredByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sAnsweredByID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.iAnsweredByResponseID)  
                         @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sAnsweredByResponseID)


    @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sQuestID)
    @Html.HiddenFor(model => model.WebSiteForumTopiAnnouncements.sQuestAnswerArray)
                                        <fieldset> 
                                            <legend></legend>

                                            <div class="form-group">
                                                <label for="WebSiteForumTopiAnnouncements_sName">Title :</label>
                                                @Html.TextBoxFor(model => model.WebSiteForumTopiAnnouncements.sName, new { @Class = "form-control", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopiAnnouncements.sName)</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="WebSiteForumTopiAnnouncements_sDescription">Description :</label>
                                                @Html.TextAreaFor(model => model.WebSiteForumTopiAnnouncements.sDescription, new { @Class = "form-control textarea_admin", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopiAnnouncements.sDescription)</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="WebSiteForumTopiAnnouncements_sContent">HTML :</label>
                                                @Html.TextAreaFor(model => model.WebSiteForumTopiAnnouncements.sContent, new { @Class = "form-control textarea_admin", @placeholder = "" })
                                                <span class="alert-danger">@Html.ValidationMessageFor(model => model.WebSiteForumTopiAnnouncements.sContent)</span>
                                            </div>





                                            <div class="form-group">
                                                <label for="WebSiteForumTopiAnnouncements_iQuestID">Linked Questionair :</label>
                                                @Html.DropDownListFor(model => model.WebSiteForumTopiAnnouncements.iQuestID, Model.WebSiteQuestionair, new { @Class = "form-control", @onchange = "javascript:on_WebSiteForumTopiAnnouncements_iQuestID_Changed();" })
                                                @if (ViewBag.bError == true)
                                                {
                                                    @Html.ValidationMessageFor(model => model.WebSiteForumTopiAnnouncements.iQuestID, "*Required!")
                                                }
                                            </div>

                                             

                                        </fieldset>
                                        <div class="form-group">
                                           @if (ViewBag.bAddNew == true)
                                           {
                                                <input type="submit" value="Save" name="submit" class="btn btn-block btn-outline-primary" />
                                           }
                                           else
                                           {
                                                <input type="submit" value="Save" name="submit" class="btn btn-block btn-outline-primary" />
                                           }
                                        </div>
                                   } 
         </div>
    </div>
</div>





























